
@{
    ViewBag.Title = "AdvancedSearchIndex";
}

<h2>AdvancedSearchIndex</h2>

<a class="btn btn-primary" href="/Music/SongAdvancedSearch">Search by Song</a>
<br /><br />
<a class="btn btn-primary" href="/Music/AlbumAdvancedSearch">Search by Album</a>
<br /><br />
<a class="btn btn-primary" href="/Music/ArtistAdvancedSearch">Search by Artist</a>
<br /><br /><br /><br />


<a class="btn btn-primary" href="/Ratings/Index">See my Reviews</a>

