@model Team1_Final_Project.Models.Identity.AppUser

@{
    ViewBag.Title = "Manager Dashboard";

}

@*{
        AppDbContext db = new AppDbContext();
        //Find associated Member
        AppUser UserToChange = db.Users.Find(User.Identity.GetUserId());

    }*@

<style>
    div.rightContent {
        min-height: 400px;
        border-left: 1px solid gray;
        float: left;
    }
</style>


<h2>Welcome to the Manager Dashboard, @Html.DisplayFor(model => model.FName)!</h2>
<h5>Here, you can manage customers, employees, and the music database. See below for options.</h5>
<br/>

<div class="col-md-4">
    <h4>Add Credit Card</h4>
    <p>Click the button below to add a new credit card to your account. You can have up to two. You currently have @Html.DisplayTextFor(model => model.CreditCards.Count).</p>
    <!--create a button that navigates to credit card info-->
    <a class="btn btn-primary" href="/CreditCards/Create">Add Credit Card Information</a>
    <br /><br />
    <h4>Edit Personal Information</h4>
    <p>Click the buttons below to edit your personal information.</p>
    <a class="btn btn-primary" href="/Account/ChangePassword">Change Password</a>
</div>
<div class="col-md-4 rightContent">
    <h4>Manage Customers</h4>
</div>
<div class="col-md-4 rightContent">
    <h4>Manage Songs</h4>
</div>