@model IEnumerable<Team1_Final_Project.Models.Purchases.CreditCard>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="form-group">
    <div class="col-md-10">
        @Html.DropDownList("CreditCardID", (MultiSelectList)ViewBag.UserCreditCards, new { @class = "form-control" })
    </div>
</div>

