@model IEnumerable<Team1_Final_Project.Models.Purchases.CreditCard>

@{
    ViewBag.Title = "My Credit Cards";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<!--Create Table-->
<table class="table table-bordered">
    <tr>
        <th>
            Credit Card Number
        </th>
        <th>
            Credit Card Type
        </th>
        <th></th>
    </tr>
@using (Html.BeginForm("Index", "CreditCards", FormMethod.Get))
{
    foreach( var item in ViewBag.UserCreditCards)
    {
        <tr>
            <td>@item.CreditCardNumber</td>
            <td>@item.CreditCardType</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = item.CreditCardID })</td>
        </tr>
    }
}

    
</table>


