@{
    ViewBag.Title = "Index";
}

<h2>Longhorn Music</h2>

<br />
<!--create a button that navigates back to members page-->
<a class="btn btn-primary" href="/Members/Index">My Account</a>
<br /><br />



