@{
    ViewBag.Title = "Index";
}

<h1>Welcome to the Longhorn Music Store!</h1>

@*
<!--create a button that navigates back to members page-->
<a class="btn btn-primary" href="/Members/Index">My Account</a>
<br /><br />

*@

<a class="btn btn-primary" href="/Music/SongAdvancedSearch">Song Advanced Search</a>
<br />
<a class="btn btn-primary" href="/Music/ArtistAdvancedSearch">Artist Advanced Search</a>
<br />
<a class="btn btn-primary" href="/Music/AlbumAdvancedSearch">Album Advanced Search</a>





