@{
    ViewBag.Title = "Index";
}

<h1>Welcome to the Longhorn Music Store!</h1>

@*
<!--create a button that navigates back to members page-->
<a class="btn btn-primary" href="/Members/Index">My Account</a>
<br /><br />
*@





