@model IEnumerable<Team1_Final_Project.Models.Identity.AppUser>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}

<h2>My Account</h2>

<p>
    @Html.ActionLink("Account Details", "Details", new { id = User.Identity.GetUserId() }, new { @class = "btn btn-primary" }) 
</p>
<p>
    @Html.ActionLink("Edit Information", "Edit", "Members", new { id = User.Identity.GetUserId() }, new { @class = "btn btn-primary" })
</p>
<p>
    <a class="btn btn-primary" href="/Account/ChangePassword">Change Password</a>
</p>




